<form action="/admin/edit/<%= app._id %>" method="POST">
  <input type="text" name="name" value="<%= app.name %>" required>
  <input type="url" name="downloadUrl" value="<%= app.downloadUrl %>" required pattern="https?://.*\.apk" title="Must be a valid .apk URL">
  <button type="submit">Update</button>
</form>
